/*Портфоліо*/
.portfolio {
    display: block;
         
}
.portfolio__item {
    display: block;
    flex-basis: 100%;
    
}

.portfolio__link {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-decoration: none;

    &:hover,
    &:focus {
        outline: none;
        box-shadow:
            0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

    }
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    @include transitionRules (transform);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0);
        outline: none;
    }

}

.portfolio__text-back {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);

    letter-spacing: 0.03em;
    color: $white-color;


}


.portfolio__title-text {
    display: block;
    padding: 20px 24px;
    flex-grow: 1;
    min-height: 100%;
    border: 1px solid #EEEEEE;
    border-top: none;
    
}

.portfolio__title {
    margin-bottom: 4px;
    min-height: max-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $black-color;

}

.portfolio__text {

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:$text-color;

}

/* Медіа запити*/
@media screen and (max-width: calc($mobile - 1px)) {
.portfolio__item:not(:last-child) {
    margin-bottom:  30px;
    }
}

@media screen and (min-width: $tablet) {
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)){
    .portfolio__item {

    /*width: 354px;*/
    flex-basis: calc((100% - 30px)/2);
    @include transitionRules (box-shadow);
    }

}

@media screen and (min-width: $desktop) {
    .portfolio__item {

        /*width: 370px;*/
        flex-basis: calc((100% - 60px)/3);
        @include transitionRules (box-shadow);
    }

}

