/*Навігація сайту*/

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: $black-color;
    text-decoration: none;

    @include transitionRules (color);

    &:hover,
    &:focus {
        color: $blue-color;
        outline: none;
    }
}

.site-nav__link--active {
    position: relative;
    color: $blue-color;

}

/* Медіа запити*/
@media screen and (max-width: calc($tablet - 1px)) {
    .site-nav {
        display: none;
    }
}

@media screen and (min-width: calc($tablet)) {
    .site-nav {
        display: flex;
        align-items: center;
    }

    .site-nav__list {
        display: flex;
        margin-left: 93px;
    }

    .site-nav__link--active {
        display: inline-block;

        &::after {
            position: absolute;
            bottom: -1px;
            left: 0;

            display: block;
            content: '';
            height: 4px;
            width: 100%;
            border-radius: 2px;
            background-color: $blue-color;

        }
    }
}